@import "assets/styles/variables.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn-primary{
  background-color: $secondary-color-lighter !important;
  border: 0.1px $secondary-color solid !important;
  &:hover{
    background-color: $secondary-color !important;
  }
}

.bg-cherry{
  background-color: $primary-color !important;
}

.bg-cherry-light{
  background-color: $primary-color-lighter !important;
}

.bg-green{
 background-color: $secondary-color !important;
}

.bg-green-light{
  background-color: $secondary-color-lighter !important;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
