
$primary-color: #000000;//#691b33;
$primary-color-lighter:  #292929; //#8a1f3b;

$secondary-color: #000000; //#133730;
$secondary-color-lighter: #292929; //#235b4e;

$tertiary-color: #e9ddc7;
$tertiary-color-lighter: #f5efe3;

$subtitles-color: #dec9a2;