
$primary-color: #691b33;
$primary-color-lighter: #8a1f3b;

$secondary-color: #133730;
$secondary-color-lighter: #235b4e;

$tertiary-color: #e9ddc7;
$tertiary-color-lighter: #f5efe3;

$subtitles-color: #dec9a2;